<?xml version="1.0" encoding="UTF-8"?>

<ruleset name="Custom Symfony Coding Standard"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <description>The Symfony Boilerplate coding standard.</description>

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <!-- Ignore warnings, show progress of the run and show sniff names -->
    <arg value="nps"/>

    <file>src/</file>
    <file>tests/</file>

    <exclude-pattern>/src/Kernel.php</exclude-pattern>
    <exclude-pattern>/tests/bootstrap.php</exclude-pattern>

    <rule ref="PSR12" />
    <rule ref="Generic"/>
    <rule ref="PSR2" />
    <rule ref="vendor/slevomat/coding-standard/SlevomatCodingStandard/ruleset.xml" />
    <rule ref="Squiz"/>
</ruleset>
